{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        margin-left:30%;
        background-color: mintcream;
        color: blueviolet;
        }
        input[type="submit"] {
      background: DeepSkyBlue;
      color: white;
      border-style: solid;
      border-color: DodgerBlue;
      border-radius: 10px;
      }

    </style>
</head>
<body>

<div class="logout">
    <form method="POST" action="/logout/">
        {% csrf_token %}
        <input type="submit" class="btn-logout" value="Logout">
    </form>
</div>
<br>
 <form method="post" action="/post/">
        {% csrf_token %}
        <input type="submit" class="btn-default btn" value="Create Post">
 </form>


    {% for post in posts %}


        <h3> Posted by: {{ post.user.username }} </h3>
        <p>[{{ post.created_on }}]</p>
        <img style="display:inline-block; width:500px; height400px; "
             src="{{ post.image_url }}" /><br>

        <div>
            {% if post.classifications %}
            <p><b> Classifications: </b></p>
                {% for class in post.classifications %}
                    <span> #{{ class.text }} </span>
                {% endfor %}
            {% endif %}
        </div>
        <br>

    <span  style="display:inline-block;"><b>Caption:</b> {{ post.caption }}</span><br/><br/>
        <div style="display:inline-block">
            {{ post.like_count }} likes this
        </div>
        <div style="display:inline-block">
            <form method="POST" action="/like/">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{ post.id }}" />
                {% if post.has_liked %}
                <p>You have liked this post</p>
                <input style="background: red;" type="submit" class="btn btn-default" value="Unlike">
                {% else %}
                <p>You have not liked this post</p>
                <input type="submit" class="btn btn-default" value="Like">
                {% endif %}
            </form>
        </div>

        <div>
            <form method="POST" action="/comment/">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}" />
                <input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
                {{ comment_text }}
                <input type="submit" class="btn-default btn" value="Comment">

            </form>
        </div>

        <div class="container">
            {% if messages %}
            <div class="row">
                <div class="col-xs-12">

                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}

                </div>
            </div>
            {% endif %}
        </div>



        <div>
            {% for comment in post.comments %}
                <p><b>{{ comment.user.username }} [{{ comment.created_on }}]:</b> {{ comment.comment_text }}</p>
                <form method="POST" action="/upvote/">
                  {% csrf_token %}
                  <input type="hidden" name="post" value="{{ upvote.id }}">
                    {% if comment.has_liked %}
                <input type="submit" class="btn btn-default" value="Upvoted">
                {% else %}
                <input type="submit" class="btn btn-default" value="Upvote">
                {% endif %}
                </form><span>Upvotes: {{comment.upvote_count}}</span>
            {% endfor %}
        </div>

    {% endfor %}
</body>
</html>
